html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.appnav {
  width: auto;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  /*background: linear-gradient(to left, #1a1a1a -3%, white 280%);*/
  background-color: unset;
  /*opacity: 0.6;*/
  color: white;
}

.homepage {
  width: auto;
  height: 670px;
  /*background-color: #1a1a1a;*/
  background: linear-gradient( rgba(26, 26, 26, 0.85), rgba(26, 26, 26, 0.85) ), url(../images/litred.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center; 
  /*font-family: 'Pontano Sans', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  padding-top: 200px;
  padding-bottom: 20px;
  color: #f90971;
  font-size: 80px;
  font-weight: bolder;
  padding-left: 50px;
  padding-right: 50px;
  /*background-attachment: fixed;*/
}

@media only screen and (max-width: 1200px) {

  .homepage {
    background: linear-gradient( rgba(26, 26, 26, 0.85), rgba(26, 26, 26, 0.85) );
    opacity: 1;
  }

}

.heading {
  letter-spacing: 10px;
}

#nation {
  color: white;
  margin-left: 20px;

}

#logo {
  color: #f90949;
  font-size: 50px;
  display: inline-block;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

#subheading {
  font-size: 20px;
  letter-spacing: 5px;
  margin-bottom: -25px;
}

.login {
  width: 110px;
  height: 40px;
  background-color: unset;
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #f90971;
  margin-left: 20px;
  margin-right: 20px;
}

.signup {
  width: 110px;
  height: 40px;
  background-color: unset;
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #f90971;
  margin-left: 20px;
  margin-right: 20px; 
}

.login:hover {
  cursor: pointer;
}

.signup:hover {
  cursor: pointer;
}

#arr {
  margin-top: 13%;
  color: white;
  font-size: 30px;
  -webkit-animation: arrbounce 7s infinite; 
  animation: arrbounce 7s infinite;
}

@-webkit-keyframes arrbounce {
    0%   {font-size: 40px;}
    15%  {font-size: 30px;}
    30%  {font-size: 40px;}
    45%  {font-size: 30px;}
    60%  {font-size: 40px;}
    75%  {font-size: 30px;}
    100% {font-size: 40px;}
}




@media only screen and (max-width: 500px) {

  .homepage {
    background: #1a1a1a;
    font-size: 70px;
  }

  .appnav {
    background: #1a1a1a;
  }

  .signup {
    width: 100px;
    height: 35px;
  }
   .login {
    width: 100px;
    height: 35px;
  }

}

.info {
  width: auto;
  height: auto;
  padding-top: 150px;
  padding-bottom: 140px;
  /*background-color: #0979f9;*/
  background-color: #f90949;
  box-sizing: border-box;
}

.navul {
  list-style: none;
  float: right;
}

.navlistitem {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  color: white;
  font-family: 'Roboto', sans-serif;
  transition: 0.5s;
  border: 1px solid transparent;
  border-bottom-width: 0px;
}

.navlistitem:hover {
  border-bottom-color: #f90971;
  border-bottom-width: 1px;
  cursor: pointer;
  transition: 0.5s;
  border-bottom-style: dotted;
}

@media only screen and (max-width: 900px) {
  
  .navlistitem {
    margin-top: -50%;
    width: 100%;
    background-color: white;
    color: black;
    display: none;

  }

  .appnav {
    color: black;
  }

}

#phone {
  width: 450px;
  height: 500px
}

#rightbox {
  padding-top: 5%;
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

#infodesc {
  font-size: 50px;
  font-weight: bolder;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.forfree {
  color: #1a1a1a;
  font-size: 70px;
}

#freehr {
  width: 100%;
  border-color: black;
  border-width: 1px;
}

#cell {
  margin-left: 10px;
}

.featuredsongs {
  width: auto;
  height: auto;
  background-color: #1a1a1a;
  padding-top: 50px;
  padding-bottom: 50px;
}

.boxleft {
  width: 30%;
  height: 300px;
  /*border: 1px solid white;*/
  display: inline-block;
  margin-top: -6px;
  margin-left: -3px;
  margin-right: 2px;
  overflow: hidden;
}

.boxright {
  width: 30%;
  height: 300px;
  /*border: 1px solid white;*/
  display: inline-block;
  margin-top: -6px;
  margin-left: -3px;
  margin-right: 2px;
  overflow: hidden;
}

.boxmiddle {
  width: 30%;
  height: 300px;
  /*border: 1px solid white;*/
  display: inline-block;
  margin-top: -6px;
  margin-left: -3px;
  margin-right: 2px;
  overflow: hidden;
}

.boxleft:hover {
  opacity: 0.8;
}

.boxright:hover {
  opacity: 0.8;
}

.boxmiddle:hover {
  opacity: 0.8;
}


@media only screen and (max-width: 900px) {
  
  .boxleft {
    width: 100%;
    display: block;
  }

  .boxright {
    width: 100%;
    display: block;
  }

   .boxmiddle{
    width: 100%;
    display: block;
  }


}

#nas {
  width: 100%;
  height: 100%;
}

#future {
  width: 100%;
  height: 100%;
}

#migos {
  width: 100%;
  height: 100%;
}

#drake {
  width: 100%;
  height: 100%;
}

#kendrick {
  width: 100%;
  height: 100%;
}

#rae {
  width: 100%;
  height: 100%;
}

.player {
  display: none;
}

.createplaylistdiv {
  width: auto;
  height: auto;
  background-color: white;
  color: #1a1a1a;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
}

#createheading {
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

#headphones {
  font-size: 70px;
  margin-top: 3%;
}

#lefttext {
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a;
  font-weight: bolder;
}

#spotlogo {
  margin-left: 20px;
  color: black;
}

#spotlogo:hover {
  color: black;
  font-size: 40px;
}

.foot {
  width: auto;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 40px;
}

#logofoot {
  color: white;
  font-size: 70px;
  display: inline-block;
  /*float: left;*/
}

#aboutdev {
  display: inline-block;
}

#aboutdevlink {
  color: white;
  text-decoration: none;
}

#aboutdevlink:hover {
  display: inline-block;
  color: white;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

.playlistscomponent {
  width: auto;
  height: auto;
  background-color: #1a1a1a;
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: 'Roboto', sans-serif;
}

#searchartist {
  color: white;
}

#searchartistinput {
  width: 250px;
  height: 35px;
  background-color: #1a1a1a;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
  color: red;
  font-size: 18px;  
  font-weight: bolder;
  display: inline-block;
}

input:focus {
    outline:none;
}

button:focus {
    outline:none;
}

#go {
  width: 80px;
  height: 35px;
  font-family: 'Roboto', sans-serif;
  color: white;
  border: 1px solid red;
  border-radius: 10px;
  background-color: #1a1a1a;
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;  
}

#insts {
  color: white;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  /*margin-top: 50px;*/
  margin-bottom: 50px;
  text-align: left;
}

.trackstable {
  width: 95%;
  height: 570px;
  border: 1px solid #1a1a1a;
  border-radius: 5px;
  background-color: #1a1a1a;
  padding: 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  list-style: none;
  text-align: left;
  overflow-y: scroll;
  line-height: 2em;
}

.tracksul {
  list-style: none;
  text-align: left;
}

#error {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  background-color: red;
}

#songname {
  margin-top: 10px;
}

#boxhr {
  width: 100%;
  border-color: white;
  border-width: 1px;
}

.title {
  color: red;
  display: inline-block;
}

.titlealb {
  color: white;
  display: inline-block;
  text-align: left;
  font-size: 40px;
}

.addtoplaylist {
  border: 1px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: auto;
  border-radius: 3px;
  margin-right: 5px;
  transition: 0.4s;
  background-color: #1a1a1a
}

.addtoplaylist:hover {
  color: red;
  transition: 0.4s;
  border-color: red;
}

#playsong {
  border: 1px solid #2de5b4;
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  width: 60px;
  height: 25px;
  border-radius: 3px;
  margin-right: 5px;
  transition: 0.4s;
  text-align: center;
  margin-left: 10px;
  color: #2de5b4;
  background-color: #1a1a1a;
  font-size: 16px;
}

#playsong:hover {
  color: red;
  transition: 0.4s;
  border-color: red;
}

#titlename {
  color: white;
  display: inline-block;
  margin-left: 10px;
}

.trackplayer {
  width: 100%;
  background-color: #1a1a1a;
  color: #1a1a1a;
  /*opacity: 0.6;*/
}

.albumpic {
  width: 101%;
  height: 503px;
  margin-top: -2px;
  margin-left: -2px;
  background-color: #1a1a1a;
  border-top-color: #1a1a1a;
}

.hideimageborder {
  width: 100%;
  height: 499px;
  overflow: hidden;
}

@media only screen and (max-width: 900px) {
  
  .albumpic {
    height: 403px;
  }

  .hideimageborder {
    height: 399px;
  }

  .trackstable {
    /*font-size: 16px;*/
    line-height: 3em;
  }

  .albumpic {
    display: none;
  }

  .hideimageborder {
    display: none;
  }

}

#musicicon {
  margin-left: 10px;
}

.songpaneldiv {
  width: 100%;
  height: 300px;
  /*border: 1px solid white;*/
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.playerframe {
  width: 97%;
  height: 300px;
  border: 1px solid transparent;
}

.playbox {
  width: 300px;
  height: 300px;
  border: 1px solid white;
  border-radius: 10px;
}

#songlink {
  color: white;
}

#songlink:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: white;
  text-decoration: none;
}


