html, body {
  margin: 0px;
  padding: 0px;
}

.appnav {
  width: auto;
  height: 60px;
  background: linear-gradient(to left, #e5274d -3%, red 220%);
  opacity: 0.9;
}

.homepage {
  width: auto;
  height: 670px;
  background: linear-gradient(to top left, #e5274d -3%, red 250%);
  opacity: 0.9;
}